@model Photographer.Models.PortfolioViewModel
@using Photographer.Models;
@{ 
    int counter = 0;
    //int maxCategory = 0;
}

<div class="container-fluid img-background portfolio">
    <section class="">
        <h1 class="c-t-1">Портфолио</h1>
    </section>
</div>
<div class="container portfolio">
    <section>
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    @{ 
                        foreach (CatPortfolioViewModel category in Model.categories)
                        {
                        <li class="@(counter == 0 ? "active" : "")"><a class="nav-link @(counter == 0 ? "active" : "")" data-toggle="tab" href="#tab@(++counter)">@category.categoryName</a></li>
                        }
                        //maxCategory = counter;
                        counter = 0;
                    }
                    @*<li><a class="nav-link" data-toggle="tab" href="#tab2">Индивидуальные</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab3">Портреты</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab4">Тематические</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab5">Прочее</a></li>*@
                </ul>
                <div class="tab-content">
                    @foreach (CatPortfolioViewModel category in Model.categories)
                    {
                    <div class="tab-pane fade @(counter == 0 ? "active in" : "")" id="tab@(++counter)">
                        @foreach (AlbPortfolioViewModel album in category.albums)
                        {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="album-header c-t-1">@album.albumName</div>
                            </div>
                            @foreach (int photoID in album.photosId)
                            {
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="portfolio-image">
                                        <img src="~/images/Photosession/@(photoID + "_sm.jpg")" />
                                    </div>
                                </div>
                            }
                        </div>
                        }

                    </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
