@model Photographer.Models.BookingUser
@{ 
    var services = new Photographer.Services.PhotoService().GetServices();
}
<div class="container-fluid img-background service">
    <section class="">
        <h1 class="c-t-1">Услуги</h1>
    </section>
</div>
<div class="container service">
    <section>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="service-block">
                    <div class="service-image">
                        <img src="~/images/Service/item5.jpg" />
                    </div>
                    <h3 class="c-t-1">Получасовая съемка (30 минут)</h3>

                    <div class="service-price">
                        <span><b class="c-t-1">RUB 2000</b></span><span><s>RUB 2500</s></span>
                    </div>
                    <div class="service-description">
                        <div><b>Описание</b></div>
                        <div>В данный пакет входит любая категория съемок (кроме свадебной). Идеально подходит тем, кто хочет быстро и качественно, недорого и круто.</div>
                        <div>
                            <ul>
                                <li>30 минут работы.</li>
                                <li>70-80 фото в обработке.</li>
                                <li>Готовые фото в течение 15 дней.</li>
                                <li>Сопровождение в подготовке к съемке.</li>
                                <li>
                                    Запись на съемку производится строго после внесения предоплаты 50% от суммы съемки, оставшаяся сумма после проведения фотосессии.
                                    <br />
                                    (При внесении предоплаты вы бронируете временные возможности фотографа, при изменении планов предоплата не возвращается.)
                                </li>
                                <li>Перенести съемку возможно, если предупредить об изменениях не позднее 3 дней до предполагаемой даты съемки (но не больше, чем на 30 календарных дней).</li>
                            </ul>
                        </div>
                    </div>
                    <div class="service-button">
                        <button class="btn btn-yellow" data-toggle="modal" data-target="#addBookingModal">Забронировать</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="service-block">
                    <div class="service-image">
                        <img src="~/images/Service/item4.jpg" />
                    </div>
                    <h3 class="c-t-1">Индивидуальная съемка</h3>

                    <div class="service-price">
                        <span><b class="c-t-1">RUB 3200</b></span><span><s>RUB 3800</s></span>
                    </div>
                    <div class="service-description">
                        <div><b>Описание</b></div>
                        <div>
                            Этот пакет идеально подходит для любых других необходимых и теплых моментов жизни, которые хочется запечатлеть на снимках. Индивидуальный подбор образа и локации.
                        </div>

                        <div>
                            <ul>
                                <li>1 час работы.</li>
                                <li>100-150 фото в обработке.</li>
                                <li>Готовые фото в течение 15 дней.</li>
                                <li>Сопровождение в подготовке к съемке.</li>
                                <li>
                                    Запись на съемку производится строго после внесения предоплаты 50% от суммы съемки, оставшаяся сумма после проведения фотосессии.
                                    <br />
                                    (При внесении предоплаты вы бронируете временные возможности фотографа, при изменении планов предоплата не возвращается.)
                                </li>
                                <li>Перенести съемку возможно, если предупредить об изменениях не позднее 3 дней до предполагаемой даты съемки (но не больше, чем на 30 календарных дней).</li>
                            </ul>
                        </div>
                    </div>
                    <div class="service-button">
                        <button class="btn btn-yellow" data-toggle="modal" data-target="#addBookingModal">Забронировать</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="service-block">
                    <div class="service-image">
                        <img src="~/images/Service/item2.jpg" />
                    </div>
                    <h3 class="c-t-1">Семейная / Love story</h3>

                    <div class="service-price">
                        <span><b class="c-t-1">RUB 3600</b></span>
                    </div>
                    <div class="service-description">
                        <div><b>Описание</b></div>
                        <div>
                            <ul>
                                <li>1 час работы.</li>
                                <li>100-150 фото в обработке.</li>
                                <li>Готовые фото в течение 15 дней.</li>
                                <li>Сопровождение в подготовке к съемке.</li>
                                <li>
                                    Запись на съемку производится строго после внесения предоплаты 50% от суммы съемки, оставшаяся сумма после проведения фотосессии.
                                    <br />
                                    (При внесении предоплаты вы бронируете временные возможности фотографа, при изменении планов предоплата не возвращается.)
                                </li>
                                <li>Перенести съемку возможно, если предупредить об изменениях не позднее 3 дней до предполагаемой даты съемки (но не больше, чем на 30 календарных дней).</li>
                            </ul>
                        </div>
                    </div>
                    <div class="service-button">
                        <button class="btn btn-yellow" data-toggle="modal" data-target="#addBookingModal">Забронировать</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="service-block">
                    <div class="service-image">
                        <img src="~/images/Service/item3.jpg" />
                    </div>
                    <h3 class="c-t-1">Свадебная съемка</h3>

                    <div class="service-price">
                        <span><b class="c-t-1">RUB 4600</b></span>
                    </div>
                    <div class="service-description">
                        <div><b>Описание</b></div>
                        <div>
                            Запись на съемку осуществляется от 2х часов работы.
                        </div>
                        <div>
                            <ul>
                                <li>Готовые фото в течение 30 дней.</li>
                                <li>Полное сопровождение в позировании, выбор локации, составление "расписания" съемки.</li>
                                <li>При заказе от 7 часов скидка на всю съемку 10%, либо свадебный альбом в подарок.</li>
                            </ul>
                        </div>
                        <div>Вы получаете:</div>
                        <div>
                            <ul>
                                <li>60-70 фото за час в цветокоррекции, портреты в полной ретуши;</li>
                                <li>Фотографии вы получаете ссылкой на Яндекс-диск (с помощью него можно скачать на любое устройство без потери качества);</li>
                                <li>При бронировании полного свадебного дня (от 6 часов) съемка Love story в подарок.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="service-button">
                        <button class="btn btn-yellow" data-toggle="modal" data-target="#addBookingModal">Забронировать</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="service-block">
                    <div class="service-image">
                        <img src="~/images/Service/item1.jpg" />
                    </div>
                    <h3 class="c-t-1">Мероприятия</h3>

                    <div class="service-price">
                        <span><b class="c-t-1">RUB 4600</b></span>
                    </div>
                    <div class="service-description">
                        <div><b>Описание</b></div>
                        <div>
                            Этот пакет идеально подходит для семейных праздников, дня рождения, девичника, выпускного и любых других необходимых и теплых моментов жизни, которые хочется запечатлеть на снимках.
                        </div>
                        <div>
                            <ul>
                                <li>1 час работы.</li>
                                <li>100-150 фото в обработке.</li>
                                <li>Готовые фото в течение 15 дней.</li>
                                <li>Сопровождение в подготовке к съемке.</li>
                                <li>
                                    Запись на съемку производится строго после внесения предоплаты 50% от суммы съемки, оставшаяся сумма после проведения фотосессии.
                                    <br />
                                    (При внесении предоплаты вы бронируете временные возможности фотографа, при изменении планов предоплата не возвращается.)
                                </li>
                                <li>Перенести съемку возможно, если предупредить об изменениях не позднее 3 дней до предполагаемой даты съемки (но не больше, чем на 30 календарных дней).</li>
                            </ul>
                        </div>
                    </div>
                    <div class="service-button">
                        <button class="btn btn-yellow" data-toggle="modal" data-target="#addBookingModal">Забронировать</button>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

<div class="modal fade" id="addBookingModal" tabindex="-1" role="dialog" aria-labelledby="addBookingModalBtn">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2>Забронировать фотосессию</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 p-b-sm">
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)
                            @*<div class="hidden">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
            </div>*@
                            <div class="editor-label col-xs-4">
                                @Html.Label("Ваше имя")
                            </div>
                            <div class="editor-field col-xs-8">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "UserName", required = "required", placeholder = "Например, Алексей" } })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                            <div class="editor-label col-xs-4 p-t-sm">
                                @Html.Label("Email")
                            </div>
                            <div class="editor-field col-xs-8 p-t-sm">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "UserEmail", required = "required", placeholder = "mail@mail.ru" } })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            <div class="editor-label col-xs-4 p-t-sm">
                                @Html.Label("Телефон")
                            </div>
                            <div class="editor-field col-xs-8 p-t-sm">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control phone", id = "UserPhone", required = "required", placeholder = "+7 (900) 000-0000" } })
                                @Html.ValidationMessageFor(model => model.Phone)
                            </div>
                            <div class="editor-label col-xs-4 p-t-sm">
                                @Html.Label("Комментарий")
                            </div>
                            <div class="editor-field col-xs-8 p-t-sm">
                                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", id = "UserComment" } })
                                @Html.ValidationMessageFor(model => model.Comment)
                            </div>
                            <div class="editor-label col-xs-4 p-t-sm">
                                @Html.Label("Тип фотосессии")
                            </div>
                            <div class="editor-field col-xs-8 p-t-sm">
                                @Html.DropDownListFor(model => model.ServiceId, new SelectList(services, "Id", "Name", 1), htmlAttributes: new { id = "ServiceSelect", @class = "form-control" })
                            </div>
                            <div class="col-xs-8 col-xs-offset-4 p-t-sm">
                                <button type="submit" class="btn btn-yellow" id="addBookingInput">Забронировать</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/Scripts/booking-scripts.js")
}